<% if current_user %>
  <ul class="user-login links">
    <li><%= link_to "Log Out", logout_path, method: :delete %></li>
  </ul>
<% else %>
  <ul class="user-login links">
    <li><%= link_to "Log In", login_path %></li>
    <li><%= link_to "New User", signup_path %></li>
  </ul>
<% end %>
