<div class="col-sm-4">
  <%= render partial: 'subs/sub_info', locals: { :@sub => @link.sub } %>
</div>

<div class="col-sm-8">
  <div class="link-single">
    <%= render @link %>
  </div>

  <div class="comment">
    <h3>Comments</h3>
    <%= render template: 'comments/new' %>
    <%= render @link.comments %>
  </div>
</div>
