<div class="col-sm-3 link aside">
  <%= render partial: 'sub_info' %>
</div>
<div class="col-sm-9 link">
  <h2>LINKS</h2>
  <%= render partial: 'links/link', collection: @links %>
</div>

<div class="btn btn-default links">
  <%= link_to "Back to Home", root_path %>
</div>
<div class="btn btn-default links">
  <%= link_to "Back to Sub-Breddits", subs_path %>
</div>
