// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: url(asset_path('background')) no-repeat center center;
  h1 {
    color: rgba(255,255,255,.9);
    margin-top: -5px;
  }
  h3 {
    color: rgba(220,220,220,.9);
    margin-top: -5px;
  }
}

.votes {
  padding-top: 12px;
  margin-left: -10px;
  p {
    margin: -3px 0 -1px 0;
  }
  i {
    color: rgba(150,150,150,1);
    transition: color .1s ease-in-out;
  }
  #upvote:hover {
    color: rgba(50,255,50,1);
  }
  #downvote:hover {
    color: rgba(255,50,50,1);
  }
}

.links {
  margin-top: 20px;
}

.link {
  padding: 10px 0px;
}

footer {
  padding: 20px;
  background-color: #aaa;
  margin-top: 30px;
}
