// Place all the styles related to the subs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub {
  margin-left: 0;
  padding-left: 0;
  a {
    font-size: 20px;
  }
  p {
    color: #666;
  }
}
